__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.env
.venv/
venv/

# Project-specific large artifacts
# models/
# data/

# Notebooks checkpoints
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

.claude/
.pytest_cache/

rwActData
models
# data
output

docs/**.md
docs/report/**.log
docs/report/**.toc
docs/report/**.fdb_latexmk
docs/report/**.aux
docs/report/**.gz
docs/report/**.fls
comparison/